# Laboratorio 2



<div class = "slide-w">
<div class = "video-container">
<iframe src="https://slides.com/ra_fa/labcdpcide/fullscreen#/2" width="100%" height="650px" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

In [7]:
#LIST
#Create a list of 10 integers

Number = [1,2,3,4,5,6,7,8,9,10]
print('Original list :', Number)

#sum, max and min
print('Sum:', sum(Number))
print('Maximum:', max(Number))
print('Minimum:', min(Number))

#add and remove elements from list
Number.append(11)
Number.remove(6)
print('Updated list:', Number)

#sorting in ascending and descending order
print('Ascending:', sorted(Number))
print('Descending:',sorted(Number, reverse=True))

Original list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum: 55
Maximum: 10
Minimum: 1
Updated list: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]
Ascending: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]
Descending: [11, 10, 9, 8, 7, 5, 4, 3, 2, 1]

In [15]:
#TUPLE
#tuple with 5 strings

food = ('biryani', 'pulao', 'korma', 'pasta','pizza')
print('Food I like is:', food)

#access and print
print('second element is:', food[1])
print('last element is:', food[-1])


#converting tuple into list
food_list = list(food)
print('Tuple converted to a list:', food_list)

#modifying list
food_list[3] = 'cheese cake'
print('modified list is', food_list)

Food I like is: ('biryani', 'pulao', 'korma', 'pasta', 'pizza')
second element is: pulao
last element is: pizza
Tuple converted to a list: ['biryani', 'pulao', 'korma', 'pasta', 'pizza']
modified list is ['biryani', 'pulao', 'korma', 'cheese cake', 'pizza']

In [16]:
#SETs

set1 = {1,2,3}
set2 = {7,8,9}

#union, intersection, difference
print('Union:', set1.union(set2))
print('Intersection:', set1.intersection(set2))
print('Difference:', set1.difference(set2))

Union: {1, 2, 3, 7, 8, 9}
Intersection: set()
Difference: {1, 2, 3}

In [19]:
#DICTIONARY

Stars = {'kim taehyung':100, 'Jeon jungkook':99.999, 'Cha eunwoo': 99.99,'Rowoon':99.9 }

#print keys and values
print('Keys:',Stars.keys())
print('Values:',Stars.values())

#update value
Stars['Jeon jungkook']= 100
print('updated dictionary:', Stars)

Keys: dict_keys(['kim taehyung', 'Jeon jungkook', 'Cha eunwoo', 'Rowoon'])
Values: dict_values([100, 99.999, 99.99, 99.9])
updated dictionary: {'kim taehyung': 100, 'Jeon jungkook': 100, 'Cha eunwoo': 99.99, 'Rowoon': 99.9}